In [1]:
import pandas as pd
from nltk.corpus import stopwords
from textblob import TextBlob
import string

In [2]:
df = pd.read_csv('../dreams.csv')

In [3]:
df.head()

,dream_number,name,date,word_count,dream_txt,contient_nazi
0,0000,Barb Sanders,05/03/60,12,"I had the neatest dream about Blake, me, Reta ...",False
1,0002,Barb Sanders,07/16/60,17,I had a dream that Nate came back and I felt j...,False
2,0003,Barb Sanders,08/04/60,154,"For the second night in a row, I dreamed of Jo...",False
3,0004,Barb Sanders,12/02/60,18,I Didn't dream as last night before I woke up!...,False
4,0005,Barb Sanders,11/25/61,23,I had a funny dream. I had to choose between D...,False

In [4]:
with open('../Stopwords/stopwords_en.txt', 'r') as myfile:
    stop2=myfile.read().replace('\n', ' ')

In [5]:
stop2 = stop2.split(' ')
stop2 = set(stop2)

In [7]:
'they' in stop2

True

In [9]:
text = ' '.join(word.strip(punct) for word in "they were really there thing then it's".split() if word not in stop2)

In [10]:
text

''

In [6]:
df['dream_txt'][4]

'I had a funny dream. I had to choose between Darryl and Jon. Jon was real sweet but Darryl won out. Real psychological!'

In [7]:
df['name'].value_counts()

Barb Sanders       3302
Kenneth            2019
Barb Sanders #2    1127
Name: name, dtype: int64

In [8]:
stopWords = set(stopwords.words('english'))

In [9]:
punct = string.punctuation

In [10]:
def clean_text(text):
    text = ' '.join(word.strip(punct) for word in text.split() if word not in stopWords)
    text = ' '.join(word.strip(punct) for word in text.split() if word not in stop2)
    text = ' '.join(word.strip(punct) for word in text.split() if len(word) > 3)
    return text.lower()

In [11]:
def get_polarity(text):
    return TextBlob(text).sentiment.polarity

In [12]:
def tag_polarity(polarity):
    if polarity > 0:
        return 'positive'
    elif polarity == 0:
        return 'neutral'
    else:
        return 'negative'

In [13]:
df['clean_text'] = df['dream_txt'].apply(clean_text)
df['pol_value'] = df['clean_text'].apply(get_polarity)
df['polarity'] = df['pol_value'].apply(tag_polarity)

In [14]:
df.head()

,dream_number,name,date,word_count,dream_txt,contient_nazi,clean_text,pol_value,polarity
0,0000,Barb Sanders,05/03/60,12,"I had the neatest dream about Blake, me, Reta ...",False,neatest dream blake reta bill,0.000000,neutral
1,0002,Barb Sanders,07/16/60,17,I had a dream that Nate came back and I felt j...,False,dream nate back felt,0.000000,neutral
2,0003,Barb Sanders,08/04/60,154,"For the second night in a row, I dreamed of Jo...",False,night dreamed make impression embarrassed then...,0.075000,positive
3,0004,Barb Sanders,12/02/60,18,I Didn't dream as last night before I woke up!...,False,didn't dream night woke dreamed mitch darryl l...,0.700000,positive
4,0005,Barb Sanders,11/25/61,23,I had a funny dream. I had to choose between D...,False,funny dream choose darryl real sweet darryl re...,0.258333,positive

In [15]:
df['polarity'].value_counts()

positive    3569
negative    2413
neutral      466
Name: polarity, dtype: int64

In [17]:
df.to_csv('../Web/data/dreams_pol.csv')